<%= render partial: 'layouts/errors', locals: {object: @recipe_ingredient} %>

	<%= form_for @recipe_ingredient do |f|%>
          
    <div class="form-group">
      <%= f.label :ingredient_id, "Select an ingredient  " %><br>
      <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, include_blank: "Select" %>        
    </div>

    <div class="form-group">
      <%= f.fields_for :ingredient do |i| %>
        <%= i.label :name, "Or create a new one:  " %><br>
        <%= i.text_field :name %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :quantity %><br>
      <%= f.text_field :quantity %>
    </div>
    
 
    <%= f.hidden_field :recipe_id %>  

	<%= f.submit class: "btn btn-primary" %>

<% end %>