<div class="main-content">

	<div class="row">
		<%= render partial: 'image_and_user', locals: {recipe: @recipe} %>

		<%= render partial: 'title_and_rating', locals: {recipe: @recipe} %>		
	</div>

	<%= render partial: 'recipe_ingredients/recipe_ingredients', locals: {recipe: @recipe} %>


	<div class="row">
		<div class="col-md-12">
			
			<%= link_to "Add a Review", new_recipe_review_path(@recipe), class: "btn btn-success" %>
			
			<%= link_to "See all Reviews", recipe_reviews_path(@recipe), class: "btn btn-success" %>
		</div>		
	</div>
	
	<%= render 'edit_recipe_buttons' %>
	
</div>














	









