<h1>Title: <%= @recipe.title %></h1>

<p><b>Cook time: </b><%= @recipe.cook_time %></p>


<h3>Instructions</h3>
<p><%= @recipe.instructions %></p>
<ul>
	<% @recipe.recipe_ingredients.each do |i| %>
		<li><%= i.quantity %> - <%= link_to i.ingredient.name, edit_recipe_ingredient_path(i) %></li>
	<% end %>
</ul>


<%= link_to "Add Ingredients", new_recipe_recipe_ingredient_path(@recipe), class: "btn btn-primary" %>

<%= link_to "Edit Ingredients", edit_recipe_ingredient_path, class: "btn btn-primary" %>