<div class="container mt-2">

	<div class="row">
		<div class="col text-center">
			<%= display_heading(@recipe) %>
		</div>
	</div>

<div class="row">
	<div class="col-md-12">
			<% @reviews.each do |review| %>
				<h3 class="review-title">
					<%= review.title %>

					<% review.stars.times do %>
						<small><span class="glyphicon glyphicon-star"></span></small>						
					<% end %>
				</h3>

				<div>
					<small class="review-user-and-title">
						<%= review.recipe.title %> by - <%= review.user.name %>
					</small>
				</div>	

				<div class="review-content">
					<p><%= review.content %></p>

					<br>
					<% if review.user == current_user %>
						<%= link_to "Edit Review", edit_review_path(review), class: "edit-review" %>
					<% end %>
				</div>						
			<% end %>
		</div>
</div>

	<div class="row">
		<div class="col">
			<%= go_back(@recipe) %>
		</div>
	</div>
</div>