<div class="container mt-2">

	<div class="row">
		<div class="col text-center">
			<%= display_heading(@recipe) %>
		</div>
	</div>

<% @reviews.each do |review| %>
	<div class="row mb-3">
			<div class="col">
				<h5 class="review-title">
					<%= review.title %>

					<% review.stars.times do %>
						<small><i class="fas fa-star fa-xs stars"></i></small>						
					<% end %>
				</h5>

				<p class="ms-2">
					<small class="review-user-and-title">
						<%= review.recipe.title %> by - <%= review.user.name %>
					</small>
				</p>	

				<div class="review-content">
					<p><%= review.content %></p>

					<br>
					<% if review.user == current_user %>
						<%= link_to "Edit Review", edit_review_path(review), class: "edit-review" %>
					<% end %>
				</div>						
			</div>
	</div>
<% end %>

	<div class="row">
		<div class="col">
			<%= go_back(@recipe) %>
		</div>
	</div>
</div>