

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <li><%= link_to "All Recipes", recipes_path %></li>
          <li><%= link_to "Add a Recipe", new_recipe_path %></li>
          <li><%= link_to "Reviews", reviews_path %></li>         
          <li><%= link_to "Add a Review", new_review_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>