<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'layouts/navbar' %>

    <div class="wrapper">

      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>

      <% if flash[:message] %>
        <p class="message"><%= flash[:message] %></p>
      <% end %>

      <div class="container">

        <%= yield %>

      </div>

      <footer class="branding">
        <small>&copy; 2021 <strong>Recipes</strong></small>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>

</html>
